# Copy file ini menjadi .env
PORT=3000
DATABASE_URL="file:./dev.db"
JWT_SECRET="ganti_dengan_secret_panjang_minimal_32_karakter"
JWT_EXPIRES_IN="1d"

# Sesuaikan dengan alamat frontend lokal kamu.
# Kalau pakai Live Server VS Code biasanya http://127.0.0.1:5500 atau http://localhost:5500
FRONTEND_ORIGIN="http://127.0.0.1:5500"
